In [47]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://raw.githubusercontent.com/danilosrm/projeto_MDD/main/00%20-%20FONTES/01%20-%20TRAIN/train_01.csv'
  
df_train = pd.read_csv(url, error_bad_lines=False, delimiter=';')
  
url = 'https://raw.githubusercontent.com/danilosrm/projeto_MDD/main/00%20-%20FONTES/01%20-%20TRAIN/train_02.csv'  
  
df2_train = pd.read_csv(url, error_bad_lines=False, delimiter=';')
  
df_train = df_train.append(df2_train)

In [ ]:
df_train.info(0)

In [ ]:
vTamanho_Train = df_train['id'].count()
print (vTamanho_Train)

# Separação das colunas em 8 grupos

Inteção é facilitar a análise em grupos separadas, mas que parecem ser da mesma característica.

* "n" indica a numeração da coluna.

1.   **df_ps_ind**: colunas "ps_ind_n".
2.   **df_ps_ind_cat**: colunas "ps_ind_n_cat".
3.   **df_ps_ind_bin**: colunas "ps_ind_n_bin".
4.   **df_ps_reg**: colunas "ps_ps_reg_n".
5.   **df_ps_car**: colunas "ps_car_n".
6.   **df_ps_car_cat**: colunas "ps_car_n_cat".
7.   **df_ps_cal**: colunas "ps_cal_n".
8.   **df_ps_cal_bin**: colunas "ps_car_bin".

In [5]:
# LISTA DAS COLUNAS CONFORME GRUPOS

lista_ps_ind = ['ps_ind_01', 'ps_ind_03', 'ps_ind_14', 'ps_ind_15']

lista_ps_ind_cat = ['ps_ind_02_cat','ps_ind_04_cat','ps_ind_05_cat']

lista_ps_ind_bin = ['ps_ind_06_bin', 'ps_ind_07_bin', 'ps_ind_08_bin','ps_ind_09_bin', 'ps_ind_10_bin', 'ps_ind_11_bin', 'ps_ind_12_bin',
                    'ps_ind_13_bin', 'ps_ind_16_bin', 'ps_ind_17_bin', 'ps_ind_18_bin']

lista_ps_reg = ['ps_reg_01', 'ps_reg_02', 'ps_reg_03']         

lista_ps_car = ['ps_car_11','ps_car_12', 'ps_car_13', 'ps_car_14', 'ps_car_15'] 

lista_ps_car_cat = ['ps_car_01_cat', 'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat','ps_car_05_cat', 'ps_car_06_cat', 
                    'ps_car_07_cat', 'ps_car_08_cat','ps_car_09_cat', 'ps_car_10_cat', 'ps_car_11_cat']  

lista_ps_cal = [ 'ps_calc_01','ps_calc_02', 'ps_calc_03', 'ps_calc_04', 'ps_calc_05', 'ps_calc_06','ps_calc_07', 
                'ps_calc_08', 'ps_calc_09', 'ps_calc_10', 'ps_calc_11','ps_calc_12', 'ps_calc_13', 'ps_calc_14']

lista_ps_cal_bin = [ 'ps_calc_15_bin', 'ps_calc_16_bin', 'ps_calc_17_bin', 'ps_calc_18_bin','ps_calc_19_bin','ps_calc_20_bin']

**GRUPO 1**

In [88]:
df_ps_ind = df_train

lista =  lista_ps_ind_cat + lista_ps_ind_bin + lista_ps_reg + lista_ps_car + lista_ps_car_cat + lista_ps_cal + lista_ps_cal_bin
df_ps_ind = df_ps_ind.drop(lista, axis=1)

df_ps_ind.describe()

                 id         target  ...      ps_ind_14      ps_ind_15
count  5.952120e+05  595212.000000  ...  595212.000000  595212.000000
mean   7.438036e+05       0.036448  ...       0.012451       7.299922
std    4.293678e+05       0.187401  ...       0.127545       3.546042
min    7.000000e+00       0.000000  ...       0.000000       0.000000
25%    3.719915e+05       0.000000  ...       0.000000       5.000000
50%    7.435475e+05       0.000000  ...       0.000000       7.000000
75%    1.115549e+06       0.000000  ...       0.000000      10.000000
max    1.488027e+06       1.000000  ...       4.000000      13.000000

[8 rows x 6 columns]

In [ ]:
# Index(['id', 'target', 'ps_ind_01', 'ps_ind_03', 'ps_ind_14', 'ps_ind_15'], dtype='object')

#começa a partir do elemento 1.
i = 1

for i in range(vTamanho_Train):
  vteste = df_ps_ind.ps_ind_14[i]
  print(vteste)
  if i == 10:
    break

**GRUPO 2**

In [ ]:
df_ps_ind_cat = df_train

lista =  lista_ps_ind + lista_ps_ind_bin + lista_ps_reg + lista_ps_car + lista_ps_car_cat + lista_ps_cal + lista_ps_cal_bin
df_ps_ind_cat = df_ps_ind_cat.drop(lista, axis=1)

df_ps_ind_cat.describe()

**GRUPO 3**

In [ ]:
df_ps_ind_bin = df_train

lista =  lista_ps_ind + lista_ps_ind_cat + lista_ps_reg + lista_ps_car + lista_ps_car_cat + lista_ps_cal + lista_ps_cal_bin
df_ps_ind_bin = df_ps_ind_bin.drop(lista, axis=1)

df_ps_ind_bin.describe()

**GRUPO 4**

In [ ]:
df_ps_reg = df_train

lista =  lista_ps_ind + lista_ps_ind_cat + lista_ps_ind_bin + lista_ps_car + lista_ps_car_cat + lista_ps_cal + lista_ps_cal_bin
df_ps_reg = df_ps_reg.drop(lista, axis=1)

df_ps_reg.describe()

**GRUPO 5**

In [ ]:
df_ps_car = df_train

lista =  lista_ps_ind + lista_ps_ind_cat + lista_ps_ind_bin + lista_ps_reg + lista_ps_car_cat + lista_ps_cal + lista_ps_cal_bin
df_ps_car = df_ps_car.drop(lista, axis=1)

df_ps_car.describe()

**GRUPO 6**

In [ ]:
df_ps_car_cat = df_train

lista =  lista_ps_ind + lista_ps_ind_cat + lista_ps_ind_bin + lista_ps_reg + lista_ps_car + lista_ps_cal + lista_ps_cal_bin
df_ps_car_cat = df_ps_car_cat.drop(lista, axis=1)

df_ps_car_cat.describe()

**GRUPO 7**

In [ ]:
df_ps_cal = df_train

lista =  lista_ps_ind + lista_ps_ind_cat + lista_ps_ind_bin + lista_ps_reg + lista_ps_car + lista_ps_car_cat + lista_ps_cal_bin
df_ps_cal = df_ps_cal.drop(lista, axis=1)

df_ps_cal.describe()

**GRUPO 8**

In [ ]:
df_ps_cal_bin = df_train

lista =  lista_ps_ind + lista_ps_ind_cat + lista_ps_ind_bin + lista_ps_reg + lista_ps_car + lista_ps_car_cat + lista_ps_cal
df_ps_cal_bin = df_ps_cal_bin.drop(lista, axis=1)

df_ps_cal_bin.describe()

In [ ]:
url = 'https://raw.githubusercontent.com/danilosrm/projeto_MDD/main/00%20-%20FONTES/02%20-%20TEST/test_01.csv'
  
df_test = pd.read_csv(url, error_bad_lines=False, delimiter=';')
  
url = 'https://raw.githubusercontent.com/danilosrm/projeto_MDD/main/00%20-%20FONTES/02%20-%20TEST/test_02.csv'
  
df2_test = pd.read_csv(url, error_bad_lines=False, delimiter=';')
  
df_test = df_test.append(df2_test)

In [ ]:
df_test.columns

In [ ]:
df_test.info()